
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
google-api-core==1.34.0
google-api-python-client==2.7.0
google-auth==1.35.0
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
googletrans==4.0.0rc1
inflect==7.0.0
nltk==3.8.1
num2words==0.5.13
numpy==1.20.3
protobuf==3.20.3
PyAudio==0.2.14
pycparser==2.20
pydantic==2.5.3
pydantic_core==2.14.6
python-dateutil==2.8.1
python-dotenv==0.15.0
python-magic==0.4.27
regex==2023.10.3
requests==2.28.2
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.1
word2number==1.1
pytest==7.2.2
pytest-cov==4.0.0
dateparser==1.2.0

